#container{
	width:500px;
	margin:0 auto;
}

body{
	background-image: url("images/station.jpg");
	background-size: cover;
	text-align:center;
}

h1{
	font-family: helvetica,sans-serif;
	font-size:30px;
	margin-bottom:20px;
}
p{
	font-family: helvetica,sans-serif;
}

button{
	width:170px;
	height:40px;
	border:none;
	color:#fff;
	font-size:16px;
	font-weight:700;
	border-radius:5px;
	
}

#increment{
	background-color:red;
}

#save{
	background-color:green;
}

#the-counter{
	font-weight:700;
	font-size:40px;
}